@import '../../../scss/variables';

.tableCon {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 700px;
    padding-top: 80px;
    background: $background;
}

.tableCon h2, .tableCon h3 .tableCon button {
    color: $primary;
}

.tableCon p {
    color: $secondary;
}

.table {
    width: 70%;
    margin-top: 50px;
}
.table tr {
    border-bottom: 1px solid $secondary;
    color: $grey-light;
}

td, th {
    padding: 10px;
    border-bottom: 1px solid $secondary;
}

th {
    padding: 5px;
    font-size: 20px;
    text-shadow: 2px 2px black;
}

.tableCon button {
    margin-top: 50px;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: $secondary;
    color:  $primary;
    outline: none;
    cursor: pointer;
    transition: .2s;
}

.tableCon button:hover {
    color: $white;
}


