@import '../../../scss/variables';

.ResultBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: resultBar;
    box-shadow: 0 8px 6px -6px $secondary;
    margin-bottom: $rem;
}

p {
    font-weight: bolder;
    color: $primary;
}

.Selector {
    border: 1px solid $secondary;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    color: $secondary;
    background: $white;
}

.SortSelector {
    border: none;
    outline: none;
    color: $secondary;
    background: #F8F8F8;
    font-weight: bolder;
}