@import '../../../scss/variables';

.ItemDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $spacing-large;
    background-color: $primary;
    width: 700px;
    height: 700px;
}

.ItemDescription h2 {
    color: $white;
    text-shadow: 2px 2px black;
}

.ItemDescription p {
    color: $secondary;
    padding: $spacing-large
}

.ItemDescription button {
    padding: 10px;
    margin: 2px;
    border: none;
    border-radius: 10px;
    background: $secondary;
    color:  $primary;
    outline: none;
    cursor: pointer;
    transition: .2s;
}

.ItemDescription button:hover {
    color: $white;
}