@import '../../../scss/variables';

.Introduction {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(large) {
        flex-direction: row;
    }
}