@import '../../../scss/variables';

.Form {
    background: $secondary;
    border: 1px solid $primary;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Form h2 {
    color: $white;
    text-shadow: 2px 2px black;
}

.Form button {

    padding: 10px;
    border: none;
    border-radius: 10px;
    background: $primary;
    color:  $secondary;
    outline: none;
    cursor: pointer;
    transition: .2s;
}

.Form button:hover {
   color: $white;
}