@import '../../../scss/variables';

.Form {
    background: $secondary;
    border: 1px solid $primary;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Form h2 {
    color: $white;
    text-shadow: 2px 2px black;
}

.Form button {
    width: 200px;
    color: white;
    text-shadow: 2px 2px black;
}

.Form button:hover {
   background-color: $primary;
}