@import '../../../scss/variables';
.ItemLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#68466a, #553257, #310f34);
    height: 900px;
}