@import '../../scss/variables';

.FooterList {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: start;
    @include breakpoint(large) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.Left, .Right, .Middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}

.LinkL, .LinkR, .LinkM {
    margin: 5px 0;
    cursor: pointer;
    transition: .1s;
    text-decoration: none;
    color: $white;
    list-style: none;
}

.LinkL:hover, .LinkR:hover, .LinkM:hover {
    color: $primary;
}

.Left h3, .Right h3, .Middle h3 {
    color: $primary;
    text-shadow: 2px 2px black;
}